In [7]:
import pandas as pd
from scipy.stats import zscore

In [8]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv("/content/sales_data.csv")

In [10]:
print("Initial Shape:", df.shape)
print(df.info())
print(df.head())

Initial Shape: (113036, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  object
 1   Day               113036 non-null  int64
 2   Month             113036 non-null  object
 3   Year              113036 non-null  int64
 4   Customer_Age      113036 non-null  int64
 5   Age_Group         113036 non-null  object
 6   Customer_Gender   113036 non-null  object
 7   Country           113036 non-null  object
 8   State             113036 non-null  object
 9   Product_Category  113036 non-null  object
 10  Sub_Category      113036 non-null  object
 11  Product           113036 non-null  object
 12  Order_Quantity    113036 non-null  int64
 13  Unit_Cost         113036 non-null  int64
 14  Unit_Price        113036 non-null  int64
 15  Profit            113036 non-null  int64
 16  Cost              113036 non-null  int64
 17  Revenue           113036 non-null  int64
dtypes: int64(9), object(9)
memory usage: 15.5+ MB
None
         Date  Day     Month  Year  Customer_Age       Age_Group  \
0  2013-11-26   26  November  2013            19     Youth (<25)
1  2015-11-26   26  November  2015            19     Youth (<25)
2  2014-03-23   23     March  2014            49  Adults (35-64)
3  2016-03-23   23     March  2016            49  Adults (35-64)
4  2014-05-15   15       May  2014            47  Adults (35-64)

  Customer_Gender    Country             State Product_Category Sub_Category  \
0               M     Canada  British Columbia      Accessories   Bike Racks
1               M     Canada  British Columbia      Accessories   Bike Racks
2               M  Australia   New South Wales      Accessories   Bike Racks
3               M  Australia   New South Wales      Accessories   Bike Racks
4               F  Australia   New South Wales      Accessories   Bike Racks

               Product  Order_Quantity  Unit_Cost  Unit_Price  Profit  Cost  \
0  Hitch Rack - 4-Bike               8         45         120     590   360
1  Hitch Rack - 4-Bike               8         45         120     590   360
2  Hitch Rack - 4-Bike              23         45         120    1366  1035
3  Hitch Rack - 4-Bike              20         45         120    1188   900
4  Hitch Rack - 4-Bike               4         45         120     238   180

   Revenue
0      950
1      950
2     2401
3     2088
4      418

In [11]:
num_cols = df.select_dtypes(include=['float64', 'int64']).columns
for col in num_cols:
    df[col] = df[col].fillna(df[col].mean())

cat_cols = df.select_dtypes(include=['object']).columns
for col in cat_cols:
    df[col] = df[col].fillna('Unknown')

In [12]:
df = df.drop_duplicates()

In [13]:
if 'gender' in df.columns:
    df['gender'] = df['gender'].str.strip().str.lower().replace({
        'm': 'male', 'f': 'female'
    })

In [14]:
if 'signup_date' in df.columns:
    df['signup_date'] = pd.to_datetime(df['signup_date'], errors='coerce')

In [15]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [16]:
if 'age' in df.columns:
    df['age'] = df['age'].fillna(0).astype(int)

In [17]:
if 'income' in df.columns:
    df = df[(zscore(df['income']) < 3)]

In [18]:
print("Final Shape:", df.shape)
print(df.info())
df.to_csv("cleaned_dataset.csv", index=False)
print("Cleaned dataset saved as cleaned_dataset.csv")

Final Shape: (112036, 18)
<class 'pandas.core.frame.DataFrame'>
Index: 112036 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              112036 non-null  object
 1   day               112036 non-null  int64
 2   month             112036 non-null  object
 3   year              112036 non-null  int64
 4   customer_age      112036 non-null  int64
 5   age_group         112036 non-null  object
 6   customer_gender   112036 non-null  object
 7   country           112036 non-null  object
 8   state             112036 non-null  object
 9   product_category  112036 non-null  object
 10  sub_category      112036 non-null  object
 11  product           112036 non-null  object
 12  order_quantity    112036 non-null  int64
 13  unit_cost         112036 non-null  int64
 14  unit_price        112036 non-null  int64
 15  profit            112036 non-null  int64
 16  cost              112036 non-null  int64
 17  revenue           112036 non-null  int64
dtypes: int64(9), object(9)
memory usage: 16.2+ MB
None
Cleaned dataset saved as cleaned_dataset.csv